<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class=" justify-text three_paragraph">
                #1. 운영유지보수 경험으로, 코드를 빠르게 파악하고, 관리하며 운영할 수 있습니다.
            </p>
            <p class="justify-text three_paragraph">
                #2. 기획운영 경험으로, 업무시 협업과 커뮤니케이션에 자신 있습니다
            </p>
            <p class="justify-text three_paragraph">
                #3. 지식적인 욕구가 있어 자기계발을 즐기며 지속적으로 성장하고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                꾸준히 기록하고, 빠르게 배우는 개발자 부민규 입니다.
                코드를 깊이 이해하고 작성하는 것을 좋아하며, 이해한 것을 토대로 매일 기록하여 코드 재 사용성과 효율성을 높이고 있습니다.<a href="https://github.com/BuMinKyoo/MY_ALL_INDEX" target="_blank"> (https://github.com/BuMinKyoo/MY_ALL_INDEX)</a>
            </p>
            <p class="paragraph-text justify-text">
                응용소프트웨어에 아주 관심이 많으며, 임베디드, 펌웨어 분야에도 관심이 있습니다.
            </p>
        </div>
    </section>
</div>