<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class=" justify-text three_paragraph">
                #1. 운영유지보수 경험으로, 코드를 빠르게 파악하고, 관리하며 운영할 수 있습니다.
            </p>
            <p class="justify-text three_paragraph">
                #2. 기획운영 경험으로, 업무시 협업과 커뮤니케이션에 자신 있습니다
            </p>
            <p class="justify-text three_paragraph">
                #3. 지식적인 욕구가 있어 자기계발을 즐기며 지속적으로 성장하고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                안녕하세요. 윈도우 어플리케이션 개발자 부민규입니다.
            </p>
        </div>
    </section>
</div>