<div class="section-wrapper">
    <section class="section experience" id="experience">
        <div id="about-text">
            <div class="section-heading">Work Experience</div>
            <body>
                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">아스템즈( 2022.07.10 - 현재 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;Windows application 개발</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;언어 : C++, C#, MFC, WPF</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;환경 : Windows, Visual Studio 6.0, Visual Studio 2015</p>
                    </div>
                    <div class="right-column">
                        <p class="Extitle">● 운영유지보수</p>
                        <p class="Extitle_sub_first">○ 아스템즈 통합 POS(ASP2.0) 운영&유지보수, 1400여개 매장</p>
                        <p class="Extitle_sub">○ 나라셀라 POS 운영&유지보수 119여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락 POS 운영&유지보수 136여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락(베트남) POS 운영&유지보수 107여개 매장</p>
                        <p class="Extitle_sub">○ 보떼 POS 운영&유지보수</p>
                        <p class="Extitle_sub">○ 윈플러스 POS 운영&유지보수</p>
                        <p class="Extitle">● 단위개발</p>
                        <p class="Extitle_sub_first">○ 알림톡 개발</p>
                        <p class="Extitle_sub">○ QR출력 개발</p>
                        <p class="Extitle_sub">○ VCAT 전문통신 개발</p>
                        <p class="Extitle_sub">○ 등..</p>
                        <p class="Extitle">● 프로젝트</p>
                        <p class="Extitle_sub_first">○ KIOSK 개발</p>
                    </div>
                </div>
                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">42 Seoul 교육생  ( 2022..05.16 - 2022.06.10 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;La Piscine코딩교육 프로그램 참가</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;언어 : C, Shell script</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;환경 : Mac, VI, VIM</p>
                    </div>
                    <div class="right-column">
                        <p class="Extitle">● C언어 기본문법 및 알고리즘 교육</p>
                        <p class="Extitle_sub">○ VI, VIM에디터 활용</p>
                        <p class="Extitle_sub">○ LLDB디버거 활용</p>
                        <p class="Extitle">● 터미널 명령어(쉘 스크립트)</p>
                        <p class="Extitle">● GIT명령어</p>
                    </div>
                </div>

                <hr class="Experiences_divide">
                <div class="section-heading Next_Experiences">Other Experiences</div>

                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">대오정공( 2019.01.02 - 2022.04.10 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;PM, 기술영업 / 대리</p>
                    </div>
                    <div class="right-column">
                        <p class="Extitle">● 인 바운드 영업 및 영업관리 업무</p>
                        <p class="Extitle">● 공무 업무 수행</p>
                        <p class="Extitle">● 현장 PM업무 수행</p>
                        <p class="Extitle">● 공기 지연 및 문제 발생시 적절한 응대 및 대안 검토</p>
                        <p class="Extitle">● 계룡건설, 신세계건설, 코오롱 글로벌, KCC건설, 포스코건설, 현대건설 등 60여개 이상의 건설사와 함께 사업을 진행</p>
                        <p class="Extitle">● 150여개 이상의 현장에서 공무 업무 수행(작업계획서, 기성청구서, 공정계획서, 견적서발주, 안전계획서, 건설사 입찰 진행 등)</p>
                        <p class="Extitle">● 80여개 이상의 현장에서 부 담당 PM업무 수행 및 30여개 현장에서 총괄 책임PM으로써 업무 수행(시공품질관리, 공정관리, AS문제확인, CS업무, 일정협의 등)</p>
                    </div>
                </div>

                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">세종대학교 ( 2013.03.04 – 2020.08.21 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;생명과학대학 분자생물학과 학사 (GPA 2.97 / 4.5)</p>
                    </div>
                    <div class="right-column">
                    </div>
                </div>
            </body>
        </div>
    </section>
</div>