<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Work Experience</div>
            <body>
                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">아스템즈( 2022.07.10 - 현재 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;Windows application 개발</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;언어 : C++, C#, MFC, WPF</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;개발환경 : Visual Studio 6.0, Visual Studio 2015</p>
                    </div>
                    <div class="right-column">
                        <p class="Extitle">● 운영유지보수</p>
                        <p class="Extitle_sub">○ 아스템즈 통합 POS(ASP2.0) 운영&유지보수, 1400여개 매장</p>
                        <p class="Extitle_sub">○ 나라셀라 POS 운영&유지보수 119여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락 POS 운영&유지보수 136여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락(베트남) POS 운영&유지보수 107여개 매장</p>
                        <p class="Extitle_sub">○ 보떼 POS 운영&유지보수</p>
                        <p class="Extitle_sub">○ 윈플러스 POS 운영&유지보수</p>
                    </div>
                </div>
                <div class="container">
                    <div class="left-column">
                        <p class="Extitle">아스템즈( 2022.07.10 - 현재 )</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;Windows application 개발</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;언어 : C++, C#, MFC, WPF</p>
                        <p class="Extitle_sub">- &nbsp;&nbsp;개발환경 : Visual Studio 6.0, Visual Studio 2015</p>
                    </div>
                    <div class="right-column">
                        <p class="Extitle">● 운영유지보수</p>
                        <p class="Extitle_sub">○ 아스템즈 통합 POS(ASP2.0) 운영&유지보수, 1400여개 매장</p>
                        <p class="Extitle_sub">○ 나라셀라 POS 운영&유지보수 119여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락 POS 운영&유지보수 136여개 매장</p>
                        <p class="Extitle_sub">○ 락앤락(베트남) POS 운영&유지보수 107여개 매장</p>
                        <p class="Extitle_sub">○ 보떼 POS 운영&유지보수</p>
                        <p class="Extitle_sub">○ 윈플러스 POS 운영&유지보수</p>
                    </div>
                </div>
                <hr class="Experiences_divide">
                <div class="section-heading Other_Experiences">Other Experiences</div>

                <div class="container">
                    <div class="left-column">
                        <p>왼쪽 컬럼에 원하는 텍스트를 입력하세요.</p>
                    </div>
                    <div class="right-column">
                        <p>오른쪽 컬럼에 원하는 텍스트를 입력하세요.</p>
                    </div>
                </div>
            </body>
        </div>
    </section>
</div>