<head>
    {% if site.google_analytics %}
        {% include googeanalytics.html %}
    {% endif %}
    
    <title>{{ site.site_title }}</title>
    <div class="extra-links">
        <span class="hint--bottom bottom-link" aria-label="Email">
            <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
        </span>
        <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
            <a href="https://www.nagekar.com/publickey.abhishek@nagekar.com.asc"><i class="head-icon fas fa-key"></i></a>
        </span> -->
        <span class="hint--bottom bottom-link" aria-label="GitHub">
            <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="Web Blog">
            <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
        </span>
        <!-- <span class="hint--bottom bottom-link" aria-label="Keybase">
            <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
        </span> -->
        <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
            <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
        </span>
        <span class="hint--bottom bottom-link" aria-label="Twitter">
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
        </span> -->
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="k4p92PduVR_7ZqAlB8-OMnONNOl9GkkmUh4dlKfbY7o" />
    
    <link rel="stylesheet" href="vendor/css/normalize.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="vendor/css/hint.base.min.css"/>
    <link rel="stylesheet" href="vendor/css/semi-transparent-buttons.css"/>
    <link rel="stylesheet" href="assets/css/progress.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/card.css"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="description" content="Portfolio - Abhishek Nagekar | Full stack web development, open source and information security">
</head>
