<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Personal Project</div>
            
                <div class="project-technologies">

                    <a id="ALL" class="semi-transparent-button with-border white-button" onclick="selected('ALL')">All</a>
                    <a id="MFC" class="semi-transparent-button with-border white-button" onclick="selected('MFC')">MFC</a>
                    <a id="WPF" class="semi-transparent-button with-border white-button" onclick="selected('WPF')">WPF</a>
                    <a id="C_sharp" class="semi-transparent-button with-border white-button" onclick="selected('C_sharp')">C#</a>
                    <a id="C++" class="semi-transparent-button with-border white-button" onclick="selected('C++')">C++</a>
                </div>

            <div class="projects-wrapper">
            </div>
        </div>
    </section>
</div>